<% meta title: "Get Started", description: "Automate data entry for your PDF invoices." %>

<div class="text-center">
  <h1>Fire your data entry team.</h1><br>
  <p>
    Clerk is an affordable solution for small businesses who want to digitize PDF invoices, receipts, and notices.
  </p>
  <div class="col-md-6">
    To turn your messy PDFs into real-time Google Sheets, email <a href="mailto:help@clerkocr.com" target="_blank">help@clerkocr.com</a>.
  </div>
  <div class="col-md-4"></div>
</div>

<div class="gap"></div>
<div class="gap"></div>

<style media="screen">
  .col-md-4 img{
    max-height: 300px;
    margin: 0 auto;
  }
</style>

<div class="grid text-center">
  <div class="col-4">
    <%= image_tag "landing/step1.png", class: "image image--size-medium" %><br>
    <h4>You get lots of Vendor PDFs.</h4>
  </div>
  <div class="col-4">
    <%= image_tag "landing/step2.png", class: "image image--size-medium" %><br>
    <h4>Data entry is time-consuming.</h4>
  </div>
  <div class="col-4">
    <%= image_tag "landing/step3.png", class: "image image--size-medium" %><br>
    <h4>We turn PDFs into Google Sheets.</h4>
  </div>
</div>

<div class="gap"></div>
